@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Hind", sans-serif;
  font-size: 1.5rem;
}
.page-wrapper {
  background-color: #eee;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project__list {
  display: flex;
  width: 99rem;
  flex-wrap: wrap;
  mix-blend-mode: difference;
}
.project__list:hover .project__title {
  opacity: 0.1;
}
